<div class="col-md-7 col-md-offset-2" style="margin-top: 50px;">
	<div class="row">
		<div class="col-md-4">
			<h2>Create Property</h2>
		</div>
		<div class="col-md-offset-4 col-md-4 boton-new">
			<button ui-sref="property" class="btn btn-primary btn-block">Go back</button>
		</div>
	</div>
	<form ng-submit="saveProperty(propertyForm)">
		<div class="row">
			<div style="margin-top:20px;">
				<div class="form-group">
					<input type="" required ng-model="propertyForm.name" name="" class="form-control" placeholder="Name">	
				</div>
				<div class="form-group">
					<input type="" required ng-model="propertyForm.description" name="" class="form-control" placeholder="description">	
				</div>
				<div class="form-group">
					<input value="Save" type="submit" class="btn btn-primary btn-block">
				</div>
			</div>
		</div>
	</form>
</div>
