<div class="row">
	<div class="col-md-7 col-md-offset-2" style="margin-top: 50px;">
		<div class="row">
			<div class="col-md-4">
				<h2>Create Property</h2>
			</div>
			<div class="col-md-4 boton-new">
				<button ui-sref="createProperty" class="btn btn-primary btn-block">Create property</button>
			</div>
			<div class="col-md-4 boton-new">
				<button ui-sref="app" class="btn btn-primary btn-block">Go back</button>
			</div>
		</div>
		<table class="table movietable" style="margin-top: 10px;">
			<thead>
		      	<tr>
		        	<th>Name</th>
		        	<th>Description</th>
		        	<th>Action</th>
		      	</tr>
	    	</thead>
		  	<tr ng-repeat="property in properties">
			    <td>{{property.name}}</td>
			    <td>{{property.description}}</td>
			    <td>
			      <a ui-sref="viewProperty({id:property.id})" class="action glyphicon glyphicon-eye-open"></a>
			      <a ui-sref="editProperty({id:property.id})" class="action glyphicon glyphicon-pencil"></a>
			      <a ng-click="removeProperty(property)" class="action glyphicon glyphicon-trash"></a>
			    </td>
		 	</tr>
		</table>
	</div>
</div>
