<div class="col-md-7 col-md-offset-2" style="margin-top: 50px;">
	<div class="row">
		<div class="col-md-4">
			<h2>Create User</h2>
		</div>
		<div class="col-md-offset-4 col-md-4 boton-new">
			<button ui-sref="app" class="btn btn-primary btn-block">Go back</button>
		</div>
	</div>
	<form ng-submit="saveUser(userForm)">
		<div class="row">
			<div style="margin-top:20px;">
				<div class="form-group">
					<input type="" required ng-model="userForm.name" name="" class="form-control" placeholder="Name">	
				</div>
				<div class="form-group">
					<input type="" required ng-model="userForm.email" name="" class="form-control" placeholder="email">	
				</div>
				<div class="form-group">
					<input type="password" required ng-model="userForm.password" name="" class="form-control" placeholder="********">
				</div>
				<div class="form-group">
				    <label for="">Select properties</label>
				    <select class="form-control" ng-model="userForm.properties_id" ng-options="property.name for property in properties"></select>
				</div>
				<div class="form-group">
					<input value="Save" type="submit" class="btn btn-primary btn-block">
				</div>
			</div>
		</div>
	</form>
</div>
