<div class="row">
	<div class="col-md-7 col-md-offset-2" style="margin-top: 50px;">
		<div class="row">
			<div class="col-md-4">
				<h2>All Users</h2>
			</div>
			<div class="col-md-4 boton-new">
				<button ui-sref="createUser" class="btn btn-primary btn-block">Create User</button>
			</div>
			<div class="col-md-4 boton-new">
				<button ui-sref="property" class="btn btn-primary btn-block">Go Property</button>
			</div>
		</div>
		<table class="table movietable" style="margin-top: 10px;">
			<thead>
		      	<tr>
		        	<th>Name</th>
		        	<th>Email</th>
		        	<th>Propiedad</th>
		        	<th>Actions</th>
		      	</tr>
	    	</thead>
		  	<tr ng-repeat="user in users">
			    <td>{{user.name}}</td>
			    <td>{{user.email}}</td>
			    <td>{{user.property.name}}</td>
			    <td>
			      <a ui-sref="viewUser({id:user.id})" class="action glyphicon glyphicon-eye-open"></a>
			      <a ui-sref="editUser({id:user.id})" class="action glyphicon glyphicon-pencil"></a>
			      <a ng-click="removeUser(user)" class="action glyphicon glyphicon-trash"></a>
			    </td>
		 	</tr>
		</table>
	</div>
</div>
