<div class="row">
	<div class="col-md-7 col-md-offset-2" style="margin-top: 50px;">
		<div class="row">
			<div class="col-md-4">
				<h2>All Users</h2>
			</div>
			<div class="col-md-offset-4 col-md-4 boton-new">
				<button ui-sref="app" class="btn btn-primary btn-block">Go back</button>
			</div>
		</div>
		<table class="table movietable" style="margin-top: 10px;">
			<thead>
		      	<tr>
		        	<th>Name</th>
		        	<th>Email</th>
		        	<th>Properties</th>
		        	<th>fecha de creación</th>
		      	</tr>
	    	</thead>
		  	<tr>
			    <td>{{userForm.name}}</td>
			    <td>{{userForm.email}}</td>
			   	<td>{{userForm.property.name}}</td>
			   	<td>{{userForm.created_at | date:'dd/MM/yyyy'}}</td>
		 	</tr>
		</table>
	</div>
</div>
